SECRET_KEY=sua_chave_super_segura
DATABASE_URL=postgresql://postgres:senha@db.seu-projeto.supabase.co:5432/postgres?sslmode=require
EVOLUTION_API_URL=http://195.201.237.138:8080
EVOLUTION_API_KEY=sua_chave_do_evolution
EVOLUTION_WEBHOOK_URL=https://crm-qf44.onrender.com/webhook/whatsapp
GOOGLE_CLIENT_ID=seu_client_id_google
GOOGLE_CLIENT_SECRET=seu_client_secret_google
GOOGLE_REDIRECT_URI=https://seu-dominio.com/authorize/google
FLASK_ENV=production
