SECRET_KEY=sua_chave_super_segura
DATABASE_URL=postgresql://postgres:senha@db.seu-projeto.supabase.co:5432/postgres?sslmode=require
EVOLUTION_API_URL=https://evolution.seudominio.com
EVOLUTION_API_KEY=sua_chave_do_evolution
INSTANCE_NAME=crm_vendas
FLASK_ENV=production
